<% if (!is_home()) {%>
<div style="margin-top: 5px;">
  <i class="fa fa-file-text-o" aria-hidden="true"></i>
  <span class="word-count" style="margin-right: 10px;">文章字数：</span>
  |
  <i class="fa fa-clock-o" style="margin-left: 10px;" aria-hidden="true"></i>
  <span class="word-time">阅读时长：</span>
</div>
<% } %>