#header .header-nav {
    width: 100%;
    position: absolute;
    transition: transform .3s ease-in;

    .social {
        margin-top: 10px;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .tool-logo {
            border-radius: 50%;
            display: -moz-inline-stack;
            display: inline-block;
            vertical-align: middle;
            *vertical-align: auto;
            zoom: 1;
            *display: inline;
            margin: 0 8px 15px 8px;
            transition: 0.3s;
            text-align: center;
            color: #fff;
            opacity: 0.7;
            width: 28px;
            height: 28px;
            line-height: 26px;

            &:hover {
                opacity: 1
            }

            &.mail {
                background: #005a87;
                border: 1px solid #005a87;

                &:hover {
                    border: 1px solid #006b98;
                }
            }

            &.weibo {
                background: #aaaaff;
                border: 1px solid #aaaaff;

                &:hover {
                    border: 1px solid #aaaaff;
                }
            }

            &.segmentfault {
                background: #009a61;
                border: 1px solid #009a61;

                &:hover {
                    border: 1px solid #009a61;
                }
            }

            &.rss {
                background: #ef7522;
                border: 1px solid #ef7522;

                &:hover {
                    border: 1px solid #cf5d0f;
                }
            }

            &.github {
                background: #afb6ca;
                border: 1px solid #afb6ca;

                &:hover {
                    border: 1px solid #909ab6;
                }
            }

            &.facebook {
                background: #3b5998;
                border: 1px solid #3b5998;

                &:hover {
                    border: 1px solid #2d4373;
                }
            }

            &.google {
                background: #c83d20;
                border: 1px solid #c83d20;

                &:hover {
                    border: 1px solid #9c3019;
                }
            }

            &.twitter {
                background: #55cff8;
                border: 1px solid #55cff8;

                &:hover {
                    border: 1px solid #24c1f6;
                }
            }

            &.linkedin {
                background: #005a87;
                border: 1px solid #005a87;

                &:hover {
                    border: 1px solid #006b98;
                }
            }

            &.acfun {
                background: #fd4c5d;
                border: 1px solid #fd4c5d;

                &:hover {
                    border: 1px solid #fd4c5d;
                }
            }

            &.bilibili {
                background: #e15280;
                border: 1px solid #e15280;

                &:hover {
                    border: 1px solid #e15280;
                }
            }

            &.zhihu {
                background: #0078d8;
                border: 1px solid #0078d8;

                &:hover {
                    border: 1px solid #0078d8;
                }
            }

            &.douban {
                background: #06c611;
                border: 1px solid #06c611;

                &:hover {
                    border: 1px solid #06c611;
                }
            }

            &.jianshu {
                background: #ff5722;
                border: 1px solid #ff5722;

                &:hover {
                    border: 1px solid #ff5722;
                }
            }

            &.weixin {
                background: #4caf50;
                border: 1px solid #4caf50;
                position: relative;
                &:hover {
                    border: 1px solid #4caf50;
                    img{
                        display: block;
                    }
                }
                img{
                    max-width: 125px;
                    position: absolute;
                    z-index: 1;
                    left: -50px;
                    top: 45px;
                    display: none;
                    transform: translate3d(0, -50%, 0);
                    animation-duration: 500ms;
                }
            }

            &.qq {
                background: #34baad;
                border: 1px solid #34baad;

                &:hover {
                    border: 1px solid #34baad;
                }
            }

            &.psn {
                background: #086ef6;
                border: 1px solid #086ef6;

                &:hover {
                    border: 1px solid #086ef6;
                }
            }
        }
    }
}